#clone_viewer_popup {
	position: absolute;
	top: 70px;
	left: 40px;
	background-color: rgba(170,170,170,5.3);
	visibility: hidden;
	border: solid 1px rgb(180,180,180);
	overflow: hidden;
	padding: 10px;
	padding-right: 2px;
	width: 245px;
}

#clone_viewer_popup > div {
	padding: 10px;
}

#clone_viewer_popup > div > button {
	margin-right: 5px;
}



#clone_viewer_popup > div > * > input[type=range] {
	width: 100px;
	margin-top: -2px;
	margin-left: 25px;
}

#clone_viewer_popup > div > * > input[type=text] {
	width: 100px;
	margin-top: -2px;
	margin-left: 25px;
	background-color: rgba(0,0,0,.1);
	border: none;
	font-size: 13px;
	color: white;
	text-align: center;
}


#clone_viewer_popup > div > label {
	color: white;
	font-family: Arial, Helvetica, sans-serif;
	user-select: none;
	font-size: 14px;
}


#clone_loading_screen {
	background-color: rgba(255,255,255,.94);
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
}

#clone_loading_screen > p { 
	text-align: center; 
	font-size: 22px;
	font-family: Arial, Helvetica, sans-serif;
	margin-right: 25px;
	margin-top: 100px;
}

#clone_wheel_mask {
	position: absolute;
	top: 190px;
	left: 128px;
}

#clone_title {
	color: white;
	font-family: Arial, Helvetica, sans-serif;
	user-select: none;
	font-size: 14px;
	text-align: center;
	position: relative;
	float: left;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-weight: 550;
}




