
#cluster_popup {
	position: absolute;
	top: 0;
	left: 0;
	width: 320px;
	background-color: rgba(50,50,50,.9);
	visibility: hidden;
	border: solid 1px rgb(150,150,150);
	overflow: hidden;
	height: 60px;
	padding: 20px;	
}


#cluster_description > text {
	font-family: Arial, Helvetica, sans-serif;
	color: rgb(220,220,220);
	font-size: 14px;
	user-select: none;
}


#cluster_button_bar {
	margin-bottom: 15px;
}


#cluster_button_bar > label {
	color: white;
	font-family: Arial, Helvetica, sans-serif;
	user-select: none;
	font-size: 16px;
	margin-left: 4px;
}

#cluster_button_bar > label > input {
	margin-right: 12px;
	height: 12px;
	font-size: 15px;
	color: white;
	border: none;
	background: rgba(0,0,0,.25);
	border: solid 1px rgba(200,200,200,.6);
	padding-left: 8px;
	padding-top: 3px;
	padding-bottom: 3px;
	width: 35px;
}

#cluster_button_bar > button {
	position: relative;
	top: -1px;
	margin-left: 8px;
	margin-right: 4px;

}

#cluster_notification {
	position: absolute;
	top: 0;
	left: 0;
	width: 300px;
	background-color: rgba(50,50,50,.9);
	visibility: hidden;
	border: solid 1px rgb(150,150,150);
	overflow: hidden;
	height: 80px;
	padding: 0px;	
	text-align: center;
	vertical-align: middle;
}

#cluster_notify_text > text {
	font-family: Arial, Helvetica, sans-serif;
	color: rgb(220,220,220);
	font-size: 14px;
	user-select: none;
	
}

#cluster_notification > button {
	float: middle;
	padding: 3px;
	margin-top: 10px;
	background-color: rgb(80,80,80);
	border: solid 1px rgb(150,150,150);
}
